<!doctype html>
<html>
  <body>
    <h1>Album Form</h1>
    <div>
      <form action="/albums/new" method="POST" enctype="multipart/form-data">
        <label for="title">Album Title</label>
        <input id="title" type="text" name="title"/><br />

        <label for="artist">Artist</label>
        <input id="artist" type="text" name="artist"/><br />

        <label for="year">Year</label>
        <input id="year" type="text" name="year"/><br />

        <label for="singleSong">Single</label>
        <input id="singleSong" type="text" name="singleSong"/><br />
        <label for="genre">Genre</label>
        <input id="genre" type="text" name="genre"/><br />

        <label for="albumCover">Album Cover</label>
        <input id="albumCover" type="file" name="albumCover"/><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>